:root {
  --white: #fffcfe;
  --pink: #ffabdb;
  --purple: #545afe;
  --dark-purple: #231892;

  --dark-gray: #242528;
  --light-blue: #afd2cf;
  --blue: #296cb3;
  --dark-blue: #1a3565;

  --white: var(--white);
  --green: #91d994;
  --mid-blue: #007bc4;
  --deep-blue: #142457;

  --background-color: var(--white);
  --main-color: var(--green);
  --accent1: var(--mid-blue);
  --accent2: var(--deep-blue);
}

.default-theme {
  --background-color: var(--white);
  --main-color: var(--green);
  --accent1: var(--mid-blue);
  --accent2: var(--deep-blue);
}

.light-theme {
  --background-color: var(--white);
  --main-color: var(--pink);
  --accent1: var(--purple);
  --accent2: var(--dark-purple);
}
